<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2cXYRih8sknmUGfOEBgUwKF0OE1Q-q8E</string>
	<key>GCM_SENDER_ID</key>
	<string>59275015798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartecommerce</string>
	<key>PROJECT_ID</key>
	<string>smart-e-commerce-38350</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-e-commerce-38350.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59275015798:ios:4834c4bcf415cc709c5157</string>
</dict>
</plist>